---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Parity Suite - Runs</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self"/>
  <link href="{{ site.url }}/"/>
  <id>{{ site.url }}/</id>
  <updated>{{ conformance.latest.startTime | isoDateTime }}</updated>
  <author><name>Martin Hicks</name><uri>https://martinhicks.dev</uri></author>
  {%- for r in conformance.runs %}
  <entry>
    <title>Conformance run {{ r.id }}</title>
    <link href="{{ site.url }}/runs/{{ r.id }}"/>
    <id>{{ site.url }}/runs/{{ r.id }}</id>
    <updated>{{ r.startTime | isoDateTime }}</updated>
    <summary>{{ r.emulatorCount }} emulators scored against live AWS DynamoDB ({{ r.suiteSize }} tests). Closest match: {{ r.headline.topDisplay }}{% if r.headline.graded %} at grade {{ r.headline.topGrade }}{% endif %}, diverging on {{ r.headline.topDivergence }} of the suite and covering {{ r.headline.topCoverage }}.</summary>
  </entry>
  {%- endfor %}
</feed>
